body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-weight: 300; }

.app {
  background-color: #ececee; }

.app-logo {
  height: 80px; }

.app-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.app-title {
  font-size: 1.5em; }

.app-intro {
  font-size: large; }

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.my-btn {
  margin-top: 100px; }

.navigation {
  display: flex;
  position: fixed;
  background-color: #fff;
  height: 60px;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 0 30px 0 rgba(1, 121, 255, 0.07), 0 0 30px 0 rgba(0, 0, 0, 0.1);
  justify-content: space-between; }
  .navigation__brand {
    height: 40px;
    padding: 0.5rem 0 0 1rem; }
  .navigation__list {
    line-height: 30px;
    display: flex;
    list-style-type: none; }
    .navigation__list--item {
      padding-left: 1rem;
      transition: color 0.2s ease-in-out;
      cursor: pointer; }
      .navigation__list--item:hover {
        color: #4bab86; }
      .navigation__list--item.select {
        font-weight: 600;
        color: #4bab86; }
    .navigation__list .profile-icon {
      position: relative;
      padding: 1rem; }
      .navigation__list .profile-icon::before {
        position: absolute;
        cursor: pointer;
        content: '';
        top: -17px;
        left: 10px;
        width: 60px;
        height: 60px;
        background-color: #fff;
        background-image: url("../images/profile.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 80% 80%; }

.cover-image {
  width: 100%;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  text-align: center;
  overflow: hidden; }
  .cover-image__holder {
    width: 100%;
    height: 600px;
    clear: both;
    position: relative;
    transition: top 2s;
    z-index: -2; }
    .cover-image__holder img {
      width: 100%; }
  .cover-image::before {
    content: '';
    position: absolute;
    top: 45%;
    left: 0;
    top: 450px;
    z-index: -1;
    width: 100%;
    height: 120%;
    background: #fff;
    clip-path: polygon(0 6%, 100% 0, 100% 93%, 0% 100%); }

.content-detail {
  margin: auto;
  max-width: 1020px; }
  .content-detail.country {
    color: #4bab86; }
  .content-detail__book {
    position: fixed;
    cursor: pointer;
    height: 150px;
    width: 150px;
    right: 20px;
    top: 400px;
    display: block;
    border-radius: 50%;
    text-align: center;
    background-image: linear-gradient(120deg, #70daa3, #26a48a);
    color: #fff;
    line-height: 30px; }
    .content-detail__book--title {
      padding-top: 2rem;
      font-size: 20px;
      font-weight: 300px; }
    .content-detail__book--prices {
      font-size: 15px; }
      .content-detail__book--prices span {
        font-size: 24px; }

.button-style {
  display: flex;
  list-style: none;
  margin: 0 0 47px;
  padding: 0; }
  .button-style__item {
    cursor: pointer;
    white-space: nowrap;
    display: inline-block;
    font-size: 16px;
    font-weight: 300;
    box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.2), 0 4px 7px 0 rgba(1, 121, 255, 0.06);
    margin-right: 10px;
    padding: 1rem; }
    .button-style__item.active {
      font-weight: 500;
      color: #fff;
      background-color: #26a48a;
      background-image: -webkit-linear-gradient(left, #26a48a, #70daa3); }

.overview-card__list {
  list-style: none;
  padding: 1rem; }
  .overview-card__list--item {
    padding: 0.5rem; }

.overview-card__highlight {
  padding: 1rem; }
  .overview-card__highlight--item {
    padding: 0.2rem; }
