.navigation {
  display: flex;
  position: fixed;
  background-color: #fff;
  height: 60px;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 0 30px 0 rgba(1,121,255,.07), 0 0 30px 0 rgba(0,0,0,.1);
  justify-content: space-between;

  &__brand {
    height: 40px;
    padding: 0.5rem 0 0 1rem;
  }

  &__list {
    line-height: 30px;
    display: flex;
    list-style-type: none;

    &--item {
      padding-left: 1rem;
      transition: color 0.2s ease-in-out;
      cursor:  pointer;

      &:hover {
        color: $selector-color;
      }

      &.select {
        font-weight: 600;
        color: $selector-color;
      }
    }
    
    .profile-icon {
      position: relative;
      padding: 1rem;
      
      &::before {
        position: absolute;
        cursor:  pointer;
        content: '';
        top: -17px;
        left: 10px;
        width: 60px;
        height: 60px;
        background-color:#fff;
        background-image: url('../images/profile.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 80% 80%;
      }
    }
  }
}